sqlalchemy[asyncio]
aiosqlite
fastapi
uvicorn
pydantic
python-multipart
google-genai
requests
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt<4
python-jose[cryptography]
cryptography
stripe
boto3
pinecone
PyPDF2
aiofiles
